HEP_USERNAME=vas@email.hr
HEP_PASSWORD=vasa_lozinka
HEP_SIFRA=0149216862
SMA_USERNAME=vas@email.hr
SMA_PASSWORD=vasa_lozinka
SMA_CLIENT_ID=SPpbeOS
SMA_PLANT_ID=
SMA_INV1_ID=
SMA_INV2_ID=
HA_URL=https://homeassistant.local:8123
HA_TOKEN=
DASHBOARD_PASSWORD=
TARIFA_VT=0.131205
TARIFA_NT=0.064379
TARIFA_PROD=0.064379
TARIFA_PDV=13
TARIFA_VT_OD=7
TARIFA_VT_DO=21
DB_PATH=/data/hep_energy.db
SECRET_KEY=promijenite-ovo
